<%= render 'layouts/header' %>

<div class="back">
  <%= link_to "back", party_path(@party) %>
</div>

<table>
  <tr>
    <th>dish</th>
    <th class="right">price</th>
    <th class="mobile-hide"></th>
  </tr>
<% @party.orders.each do |order| %>

  <% if order.status != "paid" %>

  <tr>
    <td><%= order.dish.name %></td>
    <td class="right currency">$<%= order.dish.price %></td>
    <td class="mobile-hide">
      <%= form_for order, url: order_path(order) do |f| %>
        <%= f.hidden_field :status, :value =>"paid" %>
        <%= submit_tag "x", :class => "small-button" %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <% end %>
  <tr>
    <td>pre-tip:</td>
    <td class="right currency">$<%= @party.get_bill %></td>
    <td class="mobile-hide"></td>
  </tr>
  <tr>
    <td>
      <%= form_for @party, url: party_tip_path(@party.id), :html => { :method => :put} do |f| %>
        <%= f.select (:tip) do %>
          <%= content_tag(:option, "tip", value: 0) %>
          <%= content_tag(:option, "15%", value: 15) %>
          <%= content_tag(:option, "20%", value: 20) %>
          <%= content_tag(:option, "25%", value: 25) %>
        <% end %>
      <% end %>
    </td>
    <td class="right currency">$
      <% bill = @party.get_bill %>
      <% tip = 0 %>
      <% if @party.tip %>
        <% tip = (@party.tip * bill)/100 %>
      <% end %>
      <% %>
        <%= tip %>
    </td>
    <td class="mobile-hide"></td>
  </tr>
  <tr>
    <td>TOTAL</td>
    <% total = tip + bill %>
    <td class="right currency">$<%= total %></td>
    <td class="mobile-hide"></td>
  </tr>
</table>

<br>

<div class="close-bill">
  <%= form_for :order, :url => party_multiple_path, :html => { :method => :put } do %>

      <% @party.orders.each do |order| %>
        <%= fields_for "order[]", order do |f| %>
        <td><%= f.hidden_field :status, :value => "paid" %></td>
        <% end %>
      <% end %>
      <%= submit_tag "close bill", :class => "full-width-button" %>
  <% end %>
</div>

<div class="currency-switch right">
  <label class="label-switch" id="currency-switch">
    <input type="checkbox" />
    <div class="checkbox"></div>
  </label>
  <div class="currency-USD">USD</div>
  <div class="currency-EURO">EURO</div>
</div>
