<%= render 'layouts/header' %>
<%= link_to "back", party_path(@party) %>

<table>
  <tr>
    <th>dish</th>
    <th>price</th>
    <th></th>
  </tr>
<% @party.orders.each do |order| %>

  <% if order.status != "paid" %>

  <tr>
    <td><%= order.dish.name %></td>
    <td>$<%= order.dish.price %></td>
    <td>
      <%= form_for order, url: order_path(order) do |f| %>
        <%= f.hidden_field :status, :value =>"paid" %>
        <%= f.submit "x" %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <% end %>
  <tr>
    <td>TOTAL:</td>
    <td>$<%= @party.get_bill %></td>
    <td></td>
  </tr>
</table>

<br>

<%= form_for :order, :url => party_multiple_path, :html => { :method => :put } do %>
    <% @party.orders.each do |order| %>
      <%= fields_for "order[]", order do |f| %>
      <td><%= f.hidden_field :status, :value => "paid" %></td>
      <% end %>
    <% end %>
    <%= submit_tag "close bill" %>
<% end %>
