<%= render 'layouts/header' %>

<table>
  <tr>
    <th class="mobile-hide">party</th>
    <th>table</th>
    <th class="mobile-hide">server</th>
    <th>status</th>
    <th>close</th>
  </tr>
  <% @parties.each do |party| %>
    <% if party.status == "open" %>
      <tr>
        <td class="mobile-hide">
          <%= party.id %>
        </td>
        <td>
          <%= link_to "Table " + party.table, party_path(party) %>
        </td>
        <td class="mobile-hide">
          <%= party.user.username %>
        </td>
        <td>
          <%= party.status %>
        </td>
        <td>
          <%= form_for party, url: party_path(party.id), method: :put do |f| %>
            <%= f.hidden_field :status, :value =>"closed" %>
            <%= f.submit "x" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
