<%= render 'layouts/header' %>


<div class="subheader">
  <div class="back">
    <%= link_to "back to tables", user_path(current_user) %>
  </div>
</div>

<%= form_for @party, url: user_parties_path(current_user) do |f| %>
  <%= f.label "table" %>
  <%= f.select :name do %>
    <% ['A','B','C','D','E'].each do |c| %>
      <%= content_tag(:option, c, value: c) %>
      <% end %>
    <% end %>
  <%= f.hidden_field :status, :value => "open" %>
  <%= f.submit "add party"%>
<% end %>
