<%= render 'layouts/header' %>

party #<%= @party.id %>
<br>
table <%= @party.name %>

<%= link_to "back to tables", user_path %>

<h4>add order</h4>


<h4>orders</h4>

    <%= form_for @order, url: party_orders_path(@party.id) do |f| %>
    <%= f.label 'seat' %>
    <%= f.select (:seat) do %>
      <% @seats.each do |c| -%>
        <%= content_tag(:option, c, value: c) %>
      <% end %>
    <% end %>
    <%= f.label 'dish' %>
    <%= f.collection_select :dish_id, Dish.all, :id, :name, include_blank: :true %>
    <%= f.hidden_field :party_id, :value => @party.id %>
    <%= f.hidden_field :status, :value => "open" %>
    <%= f.submit %>
    <% end %>

  <table>
    <tr>
      <th>dish</th>
      <th>seat</th>
      <th>status</th>
      <th>price</th>
      <th>time</th>
      <th>close</th>
    </tr>
  <% @party.orders.each do |order| %>

    <tr>
      <td><%= order.dish.name %></td>
      <td><%= order.seat %></td>
      <td><%= order.status %></td>
      <td>$<%= order.dish.price %></td>
      <td><%= order.created_at.to_i %> </td>
      <td><%= form_for order, url: order_path(order) do |f| %>
          <%= f.hidden_field :status, :value =>"closed" %>
          <%= f.submit "x" %>
          <% end %>
      </td>
    </tr>
    <% end %>
  </table>
TOTAL:
<%= @party.get_bill %>
