<%= render 'layouts/header' %>

<div class="subheader">

  <div class="mobile-hide">
    party #<%= @party.id %>
  </div>

  <div class="table">
    table <%= @party.table %>
  </div>

  <div class="back">
    <%= link_to "back to tables", user_path %>
  </div>
</div>

<div>
  <h5>orders</h5>
</div>



    <%= form_for @order, url: party_orders_path(@party.id), :html => { :class => "new-order-form"} do |f| %>
      <div class="dropdown">
        <%= f.label 'dish' %>
        <%= f.collection_select :dish_id, Dish.all, :id, :name, include_blank: :true %>
      </div>
      <div class="seat-selection">
        <%= f.label 'seat' %>
        <%= f.select (:seat) do %>
          <% @seats.each do |c| -%>
            <%= content_tag(:option, c, value: c) %>
          <% end %>
        <% end %>
        <%= f.hidden_field :party_id, :value => @party.id %>
        <%= f.hidden_field :status, :value => "open" %>
      </div>
      <div class="note">
        <%= f.label :note %>
        <%= f.text_field(:note) %>
      </div>
      <div class="add-button">
        <%= f.submit "add" %>
      </div>
    <% end %>

  <table>
    <tr>
      <th>dish</th>
      <th class="mobile-right">seat</th>
      <th class="mobile-hide">status</th>
      <th class="mobile-hide">time</th>
    </tr>
  <% @party.orders.each do |order| %>
      <% if order.status != "paid" %>

      <tr>
        <td><%= order.dish.name %></td>
        <td class="mobile-right"><%= order.seat %></td>
        <td class="mobile-hide"><%= order.status %></td>
        <td class="time mobile-hide"><%= order.get_time_diff %> </td>
      </tr>
      <% end %>
    <% end %>
  </table>

  <%= button_to "bill", party_bill_path(@party.id), :class=> "full-width-button", method: :get %>
