<%= render 'layouts/header' %>

<h1>hi, <%= current_user.username %></h1>


<h3>here are your open parties</h3>

<table>
  <tr>
    <th>party</th>
    <th>table</th>
    <th>status</th>
    <th>close</th>
  </tr>
  <% current_user.parties.each do |party| %>
    <% if party.status == "open" %>
      <tr>
        <td>
          <%= party.id %>
        </td>
        <td>
          <%= link_to "Table " + party.name, party_path(party) %>
        </td>
        <td>
          <%= party.status %>
        </td>
        <td>
          <%= form_for party, url: party_path(party.id), method: :put do |f| %>
              <%= f.hidden_field :status, :value =>"closed" %>
              <%= f.submit "x" %>
              <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to "add party", new_user_party_path(current_user) %>


<div> here are your open orders
</div>
<div>

  <table>
    <tr>
      <th>dish</th>
      <th>seat</th>
      <th>status</th>
      <th>time</th>
    </tr>
  <% current_user.orders.each do |order| %>

  <% if order && order.status == "open" %>
    <tr>
      <td><%= order.dish.name %></td>
      <td><%= order.seat %></td>
      <td><%= order.status %></td>
      <td><%= order.get_time_diff %> </td>
    </tr>
  <% end %>

  <% end %>
  </table>

</div>
