<%= render 'layouts/header' %>

<h1>hi, <%= current_user.username %></h1>


<h3>here are your parties</h3>

<ul>
  <% current_user.parties.each do |party| %>
    <li>
      <%= link_to "Table " + party.name, party_path(party) %>
    </li>
  <% end %>
</ul>

<%= link_to "add party", new_user_party_path(current_user) %>


<div> here are your orders
</div>
<div>

  <table>
    <tr>
      <th>dish</th>
      <th>seat</th>
      <th>status</th>
      <th>time</th>
    </tr>
  <% current_user.orders.each do |order| %>

    <tr>
      <td><%= order.dish.name %></td>
      <td><%= order.seat %></td>
      <td><%= order.status %></td>
      <td><%= order.created_at.to_i %> </td>
    </tr>

  <% end %>
  </table>

</div>
