<h1>add ingredient</h1>

<%= form_for @ingredient do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :vegetarian %>
  <%= f.number_field :vegetarian %>
  <%= f.submit 'submit' %>
<% end %>
