<%= render 'layouts/header' %>

<h4>
  <%= @ingredient.name %>
</h4>

<p>
<%= @ingredient.description %>
</p>

<p>
  <% facts = @ingredient.nutrition(@ingredient.name)  %>
  <% if facts %>
    <div class="serving"> per serving: </div>
    <div>
      calories:
      <%= facts["nf_calories"] %>
      <br>
      fat:
      <%= facts["nf_total_fat"] %>
    </div>
  <% end %>
</p>

<ul>
