<%= render 'layouts/header' %>

<h4>
  <%= @ingredient.name %>
</h4>

<p>
<%= @ingredient.description %>
</p>

<p>
  <% facts = @ingredient.nutrition(@ingredient.name) || null  %>
  calories:
  <%= facts["nf_calories"] %>
  <br>
  fat:
  <%= facts["nf_total_fat"] %>
</p>

<ul>
