<%= render 'layouts/header' %>

<div>order history</div>

<div>

  <table class="history-table">
    <tr>
      <th>dish</th>
      <th class="mobile-hide">seat</th>
      <th class="mobile-right">price</th>
      <th class="mobile-hide">date</th>
      <th class="mobile-right right">status</th>
    </tr>
  <% @orders.each do |order| %>

    <tr>
      <td><%= order.dish.name %></td>
      <td class="mobile-hide"><%= order.seat %></td>
      <td class="mobile-right">$<%= order.dish.price %></td>
      <td class="mobile-hide">
        <%= order.created_at.month %>/<%= order.created_at.day %>/<%= order.created_at.year %>
        <%= order.created_at.hour %>:
        <% if order.created_at.min <10 %>
          0<% end %><%= order.created_at.min %>
      </td>
      <td class="mobile-right right"><%= order.status %></td>
    </tr>

  <% end %>
  <tr>
    <td></td>
  <td>TOTAL</td>
  <td>$<%= current_user.get_total_revenue %></td>
  <td>
  </table>
</div>
