<%= render 'layouts/header' %>

<div>order history</div>

<div>

  <table>
    <tr>
      <th>dish</th>
      <th>seat</th>
      <th>price</th>
      <th>date</th>
      <th>status</th>
    </tr>
  <% @orders.each do |order| %>

    <tr>
      <td><%= order.dish.name %></td>
      <td><%= order.seat %></td>
      <td>$<%= order.dish.price %></td>
      <td>
        <%= order.created_at.month %>/<%= order.created_at.day %>/<%= order.created_at.year %>
        <%= order.created_at.hour %>:
        <% if order.created_at.min <10 %>
          0<% end %><%= order.created_at.min %>
      </td>
      <td><%= order.status %></td>
    </tr>

  <% end %>
  </table>
</div>
