<%= render 'layouts/header' %>

<div> here are all of the orders</div>

</div>
<div>

  <table>
    <tr>
      <th>dish</th>
      <th class="mobile-right">seat</th>
      <th class="mobile-hide">status</th>
      <th class="mobile-right">time</th>
      <th class="mobile-hide">note</th>
      <th class="mobile-hide">close</th>
    </tr>
  <% @orders.each do |order| %>

  <% if order.status == "open" %>

    <tr>
      <td><%= order.dish.name %></td>
      <td class="mobile-right"><%= order.seat %></td>
      <td class="mobile-hide"><%= order.status %></td>
      <td class="time mobile-right"><%= order.get_time_diff %> </td>
      <td class="mobile-hide"><%= order.note %></td>
      <td class="mobile-hide">
        <%= form_for order, url: order_path(order) do |f| %>
          <%= f.hidden_field :status, :value =>"closed" %>
          <%= f.submit "x" %>
        <% end %>
      </td>
    </tr>

    <% end %>

  <% end %>
  </table>
</div>
