<%= render 'layouts/header' %>

<div> here are all of the orders</div>

</div>
<div>

  <table>
    <tr>
      <th>dish</th>
      <th>seat</th>
      <th>status</th>
      <th>time</th>
      <th>close</th>
    </tr>
  <% @orders.each do |order| %>

  <% if order.status == "open" %>

    <tr>
      <td><%= order.dish.name %></td>
      <td><%= order.seat %></td>
      <td><%= order.status %></td>
      <td><%= order.created_at.to_i %> </td>
      <td><%= form_for order, url: order_path(order) do |f| %>
          <%= f.hidden_field :status, :value =>"closed" %>
          <%= f.submit "x" %>
          <% end %>
      </td>
    </tr>

    <% end %>

  <% end %>
  </table>
</div>
