<%= render 'layouts/header' %>

<h5>
menu.
</h5>

<div class="dishes">

<h6>breakfast</h6>
  <ul class="breakfast">
    <% @dishes.all.each do |dish| %>
    <% if dish.course == "breakfast" %>
      <li>
        <%= link_to dish.name, dish_path(dish) %>
          $<%= dish.price %>
        <% if current_user.account == "admin" %>
          <%= link_to "x", dish_path(dish), :class => "remove", method: :delete %>
        <% end %>

      <% end %>
    <% end %>
  </ul>

<h6>lunch</h6>
  <ul class="lunch">
    <% @dishes.all.each do |dish| %>
    <% if dish.course == "lunch" %>
      <li>
        <%= link_to dish.name, dish_path(dish) %>
        $<%= dish.price %>
        <% if current_user.account == "admin" %>
          <%= link_to "x", dish_path(dish), :class => "remove", method: :delete %>
        <% end %>

      <% end %>
    <% end %>
  </ul>

<h6>dinner</h6>
  <ul class="dinner">
    <% @dishes.all.each do |dish| %>
    <% if dish.course == "dinner" %>
      <li>
        <%= link_to dish.name, dish_path(dish) %>
        $<%= dish.price %>
        <% if current_user.account == "admin" %>
          <%= link_to "x", dish_path(dish), :class => "remove", method: :delete %>
        <% end %>

      <% end %>
    <% end %>
  </ul>

<h6>sides</h6>
  <ul class="sides">
    <% @dishes.all.each do |dish| %>
    <% if dish.course == "sides" %>
      <li>
        <%= link_to dish.name, dish_path(dish) %>
        $<%= dish.price %>
        <% if current_user.account == "admin" %>
          <%= link_to "x", dish_path(dish), :class => "remove", method: :delete %>
        <% end %>

      <% end %>
    <% end %>
  </ul>

    <% if current_user.account == "admin" %>
      <%= button_to "add dish", new_dish_path, method: :get %>
    <% end %>
</div>
