<%= render 'layouts/header' %>

<h1>
  <%= @dish.name %>
</h1>

<p>
  <%= @dish.description %>
</p>

<ul>
<% @dish.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
  <% end %>
</ul>

<% if current_user.account == "admin" %>
  <h1>add ingredients to this dish</h1>
  <%= form_for @recipe do |f| %>
    <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name, include_blank: true %>
    <%= f.hidden_field :dish_id, :value => @dish.id %>
  <%= f.submit "add"%>
    <% end %>
<% end %>
