<header>
  <h4>railsteraunt</h4>
  <button type="button" class="js-menu-trigger sliding-panel-button"><%= fa_icon "bars" %></button>
  <div id="clock">
    <%= Time.now.month %>/<%= Time.now.day %>/<%= Time.now.year %><br>
    <%= Time.now.hour %>:<%= Time.now.min %>
  </div>
<nav class="js-menu sliding-panel-content">
  <ul>
    <li><%= current_user.username %></li>
    <li><%= link_to 'menu', dishes_path %></li>
    <li><%= link_to 'ingredients', ingredients_path %></li>
    <li>
      <% if current_user.account == "chef" %>
        <%= link_to 'orders', orders_path %>
      <% end %>
    </li>
    <li>
      <% if current_user.account == "server" || current_user.account == "admin" %>
        <%= link_to 'parties', user_path(current_user) %>
      <% end %>
    </li>
    <li>
      <% if current_user.account == "admin" %>
        <%= link_to 'history', orders_history_path %>
      <% end %>
    </li>
    <li>
      <% if current_user.account == "admin" %>
        <%= link_to 'stats', orders_stats_path %>
      <% end %>
    </li>
    <li><%= link_to "log out", sessions_path, method: :delete %></li>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
</header>
