<header>
  <h4>rest.</h4>
  <button type="button" class="js-menu-trigger sliding-panel-button"><%= fa_icon "bars" %></button>

<nav class="js-menu sliding-panel-content">
  <ul>
    <li><%= current_user.username %></li>
    <li><%= link_to 'menu', dishes_path %></li>
    <li><%= link_to 'ingredients', ingredients_path %></li>
    <li>
      <% if current_user.account == "server" || current_user.account == "admin" %>
      <%= link_to 'parties', user_path(current_user) %>
      <% end %>
    </li>
    <li><%= link_to "log out", sessions_path, method: :delete %></li>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
</header>
